/* Box sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.printable-area {
  height: 1312px;
  width: 1030px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

img {
  margin: 0;
}

.hide-element {
  display: none !important;
}

.header-wrapper {
  height: 10%;
  display: flex;
  flex-direction: row;  
}

.central-section-wrapper {
  height: 90%;
  display: flex;
  flex-direction: row;
}

.side-bar-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;  
  flex: 1 1 auto;
}

.main-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 7 1 auto;
}

/*Remove header functionality area for printing*/
@media print {
  .main-selection-area {
    display: none
  }
}
